/* 
  Go to this site:
  https://developer.chrome.com/extensions/contextMenus

  If you already have this site loaded, reload it after you reload the extension
*/
.intro {
  font-weight: bold;
  color: blue;
}